@import url('./utilities/styles/animations.css');

body {
  font-family: "VT323", serif;
  font-weight: 400;
  color: #ECDFCC;
  background-color: #1E201E;
  font-style: normal;
}

/* Loader Text */
.text-loader {
  animation: blink 1s infinite;
}

/* Progress Bar Container */
.progress-bar-container {
  border: 2px solid limegreen;
  position: relative;
}

/* Progress Bar (Retro Color Scheme) */
.progress-bar {
  background-color: #00ff00;
  transition: width 0.3s ease-out;
}

.badge {
  width: 2.5rem;
  padding: 0.3rem;
}