@import url('./utilities/styles/animations.css');

/* Loader Text */
.text-loader {
  animation: blink 1s infinite;
}

/* Progress Bar Container */
.progress-bar-container {
  border: 2px solid limegreen;
  position: relative;
}

/* Progress Bar (Retro Color Scheme) */
.progress-bar {
  background-color: #00ff00;
  transition: width 0.3s ease-out;
}
